body {
  margin: 0;
  background: linear-gradient(to bottom right, #8ec5fc, #e0c3fc);
  font-family: sans-serif;
  overflow: hidden;
}

#game {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#bucket {
  width: 100px;
  height: 30px;
  background: #222;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: #fff;
}

#gameOver {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 32px;
  display: none;
  text-shadow: 2px 2px #000;
}
